<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @penguin.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @penguin.gender %>
</p>

<p>
  <strong>Personality:</strong>
  <%= @penguin.personality %>
</p>

<p>
  <strong>Colour mum:</strong>
  <%= @penguin.colour_mum %>
</p>

<p>
  <strong>Colour dad:</strong>
  <%= @penguin.colour_dad %>
</p>

<p>
  <strong>Colour own:</strong>
  <%= @penguin.colour_own %>
</p>

<p>
  <strong>Belly colour mum:</strong>
  <%= @penguin.belly_colour_mum %>
</p>

<p>
  <strong>Belly colour dad:</strong>
  <%= @penguin.belly_colour_dad %>
</p>

<p>
  <strong>Belly colour own:</strong>
  <%= @penguin.belly_colour_own %>
</p>

<p>
  <strong>Beak mum:</strong>
  <%= @penguin.beak_mum %>
</p>

<p>
  <strong>Beak dad:</strong>
  <%= @penguin.beak_dad %>
</p>

<p>
  <strong>Beak own:</strong>
  <%= @penguin.beak_own %>
</p>

<p>
  <strong>Eyes mum:</strong>
  <%= @penguin.eyes_mum %>
</p>

<p>
  <strong>Eyes dad:</strong>
  <%= @penguin.eyes_dad %>
</p>

<p>
  <strong>Eyes own:</strong>
  <%= @penguin.eyes_own %>
</p>

<p>
  <strong>Belly mum:</strong>
  <%= @penguin.belly_mum %>
</p>

<p>
  <strong>Belly dad:</strong>
  <%= @penguin.belly_dad %>
</p>

<p>
  <strong>Belly own:</strong>
  <%= @penguin.belly_own %>
</p>

<p>
  <strong>Body mum:</strong>
  <%= @penguin.body_mum %>
</p>

<p>
  <strong>Body dad:</strong>
  <%= @penguin.body_dad %>
</p>

<p>
  <strong>Body own:</strong>
  <%= @penguin.body_own %>
</p>

<%= link_to 'Edit', edit_penguin_path(@penguin) %> |
<%= link_to 'Back', penguins_path %>
